spring:
  application:
    name: axoniq
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/axoniq
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
axon:
  serializer:
    events: jackson
