spring:
  application:
    name: axoniq
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/axoniq
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.oliverzihler.ch/realms/fitnesslab
          jwk-set-uri: https://auth.oliverzihler.ch/realms/fitnesslab/protocol/openid-connect/certs
axon:
  serializer:
    events: jackson
wix:
  token: ${WIX_TOKEN:}
  site:
    id: ${WIX_SITE_ID:}
